<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div id="load">
        <img src="/img/loading.gif" alt="loading">
    </div>
    <div id='wrapper' class="d-flex justify-content-center align-items-center" ondragstart="return false">
        <div class="mainPage none-select" style="margin:0 auto;" th:each="umamusume : ${select}">
            <div class="row justify-content-center align-items-center m-0 p-0">
                <div class="justify-content-center col-sm-4 m-0 p-0 m" style="width: max(50%, 400px); height: 455px;">
                    <div class="m-0 p-0" th:style="'height:3rem; background:'+ ${umamusume.main_color} + ';'">
                        <div class="d-flex align-items-center justify-content-center m-0 p-0"
                             th:style="'color:white; height:100%; -webkit-text-stroke: 2px '+ ${umamusume.sub_color} + ';'">
                            <p style="font-size: max(2vw,2rem);">[[${umamusume.jpn_name}]]</p>
                        </div>
                    </div>
                    <div class="m-0 p-0" th:style="'height:auto; text-align:center'">
                        <img class="img_fit"
                             th:src="@{${'/img/umaimage/stand/chara_stand_' + umamusume.order + '_' + umamusume.order + '01.png'}}"
                             style="width: 350px;">
                    </div>
                    <div class="m-0 p-0" th:style="'height:3rem; background:'+ ${umamusume.sub_color} + ';'">
                        <div class="d-flex align-items-center justify-content-center m-0 p-0"
                             th:style="'color:white; height:100%; -webkit-text-stroke: 2px '+ ${umamusume.main_color} + ';'">
                            <p style="font-size: max(2vw,2rem);">[[${umamusume.kor_name}]]</p>
                        </div>
                        <!--<img class="img_fit" th:src="@{${'/img/umaimage/chrname/gacha_chrname_' + umamusume.order + '_03.png'}}" >-->
                    </div>
                </div>
                <div class="col m-0 p-0 "
                     style="width: max(50%, 400px); min-height: 3vh; max-height: max(455px, 45rem);">

                    <div th:if="${ikuseilist.size} == 0" th:utext="#{noikusei}"></div>

                    <table class="table align-middle text-center m-0 p-0 " th:each="ikusei : ${ikuseilist}"
                           th:id="'ikusei_' + ${ikusei.id}">
                        <thead class="">
                        <tr class="m-0 p-0">
                            <img
                                    th:src="@{${'/img/umaimage/ikusei/chr_icon_' + umamusume.order + '_'+ ikusei.dressid + '_02.png'}}"
                                    style="width: min(5vw,160px); aspect-ratio:1;">
                        <tr th:if="${#strings.equals(param.lang, 'ja' ) || #strings.equals(param.lang, 'en' )}"
                            style="text-overflow: ellipsis">
                            [[${ikusei.jpn_name}]]
                        </tr>
                        <tr th:if="${#strings.equals(#locale, 'ko' )}" style="text-overflow: ellipsis">
                            [[${ikusei.kor_name}]]
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="m-0 p-0">
                            <td class="m-0 p-0 border border-1">
                                <img
                                        th:src="@{${'/img/umaimage/support/utx_ico_obtain_101.png'}}"
                                        style="width: min(3.5vw,96px); aspect-ratio:1;">
                            </td>
                            <td class="m-0 p-0 border border-1">
                                <img
                                        th:src="@{${'/img/umaimage/support/utx_ico_obtain_105.png'}}"
                                        style="width: min(3.5vw,96px); aspect-ratio:1;"></td>
                            <td class="m-0 p-0 border border-1">
                                <img
                                        th:src="@{${'/img/umaimage/support/utx_ico_obtain_102.png'}}"
                                        style="width: min(3.5vw,96px); aspect-ratio:1;"></td>
                            <td class="m-0 p-0 border border-1">
                                <img
                                        th:src="@{${'/img/umaimage/support/utx_ico_obtain_103.png'}}"
                                        style="width: min(3.5vw,96px); aspect-ratio:1;"></td>
                            <td class="m-0 p-0 border border-1">
                                <img
                                        th:src="@{${'/img/umaimage/support/utx_ico_obtain_106.png'}}"
                                        style="width: min(3.5vw,96px); aspect-ratio:1;"></td>
                        </tr>
                        <tr class="m-0 p-0">
                            <td class="m-0 p-0 border border-1"
                                style="height: min(3.5vw,96px); width: 20%;">[[${ikusei.speed}]]%
                            </td>
                            <td class="m-0 p-0 border border-1"
                                style="height: min(3.5vw,96px); width: 20%;">[[${ikusei.stamina}]]%
                            </td>
                            <td class="m-0 p-0 border border-1"
                                style="height: min(3.5vw,96px); width: 20%;">[[${ikusei.power}]]%
                            </td>
                            <td class="m-au p-0 border border-1"
                                style="height: min(3.5vw,96px); width: 20%;">[[${ikusei.guts}]]%
                            </td>
                            <td class="m-0 p-0 border border-1"
                                style="height: min(3.5vw,96px); width: 20%;">[[${ikusei.wisdom}]]%
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="d-flex justify-content-start flex-wrap m-0 p-0 ">
                <div th:if="${support.size} == 0" th:utext="#{nosupport}"></div>
                <div class="umasupport d-flex align-items-center flex-wrap m-0 p-0"
                     style="width: calc(100%/calc(100%/(min(10vw,192px) + 2px)));"
                     th:each="supportcard : ${support}">
                    <a class="support_hover position-relative" th:href="@{/support/{supportcard}(supportcard=${supportcard.id})}">
                        <img class="umasupport_img"
                             th:src="@{${'/img/umaimage/support/support_thumb_' + supportcard.id + '.png'}}"
                             style="z-index: 1; width: min(10vw,192px); aspect-ratio:1/1.3;">

                        <div th:if="${supportcard.command_id} == '0'">
                            <img
                                    th:src="@{${'/img/umaimage/support/utx_ico_obtain_' + supportcard.command_id + supportcard.command_type + '.png'}}"
                                    style="position: absolute; z-index: 2; top: 0; right: 3%; width: min(2.5vw,96px); aspect-ratio:1;">
                        </div>
                        <div th:unless="${supportcard.command_id} == '0'">
                            <img
                                    th:src="@{${'/img/umaimage/support/utx_ico_obtain_' + supportcard.command_id + '.png'}}"
                                    style="position: absolute; z-index: 2; top: 0; right: 3%; width: min(2.5vw,96px); aspect-ratio:1;">

                        </div>
                        <img
                                th:src="@{${'/img/umaimage/support/supportcard_rarity_0' + supportcard.rarity + '.png'}}"
                                style="position: absolute; z-index: 2; top: 0; left: 7%; width: min(2.75vw,96px); aspect-ratio:1;">
                        <figcaption class="position-absolute"
                                    th:style="'background-color:#000000B3; font-size:min(5vw, 12px);'">Detail
                        </figcaption>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>