.slider {
    max-width: 465px;
    height: 260px;
    width: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    font-size: 10px;
    line-height: 10px;
    color: #fff;
}

#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#load > img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

/* image modal */
.modal {
    display: none;
    z-index: 500;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalBox {
    position: relative;
    text-align: center;
    top: 0;
    left: 50%;
    position: sticky;
}

p img:hover {
    cursor: -webkit-zoom-in;
}


#google::before {
    content: "";
    z-index: 100;
    position: absolute;
    top: 50%;
    right: -95px;
    transform: translateY(-50%);
    width: 245px;
    height: 100px;
    background: #4285F4;
}

#google::after {
    content: "";
    z-index: 101;
    position: absolute;
    border-top: 200px solid transparent;
    border-right: 200px solid #FFFFFF;
    top: -100px;
    right: -100px;
    width: 0;
    height: 0;
}

/* image modal end */