html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@font-face {
    font-family: 'RodinWanpakuPro-B';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/RodinWanpakuPro-B.otf') format('opentype');
    unicode-range: U+0021-007E, /* 半角数字英語 */ U+FF10-FF19, /* 全角数字 */ U+FF21-FF3A, /* 全角英語小文字 */ U+FF41-FF5A, /* 全角英語小文字 */ U+3041-3096, /* CJK */ U+30A0-30FF, /* CJK */ U+3001-3002, /* CJK */ U+2E80-2EFF, /* CJK */ U+3000-303F, /* CJK */ U+3200-32FF, /* CJK */ U+3300-33FF, /* CJK */ U+4E00-9FCC, /* CJK */ U+F900-FAD9, /* CJK */ U+20000-2FFFF;/*　CJK　*/
}

@font-face {
    font-family: 'gyeonggicheonyeontitleOTF_Medium';
    src: url('../fonts/gyeonggicheonyeontitleOTF_Medium.otf') format('opentype');
    font-style: normal;
    unicode-range: U+0030-0039, /* 半角数字 */ U+AC00-D7A3; /* CJK KOREAN */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

body {
    padding-top: 61px;
    --bs-body-font-family: 'RodinWanpakuPro-B', 'gyeonggicheonyeontitleOTF_Medium', var(--bs-font-sans-serif);
}

#wrapper {
    height: auto;
    min-height: calc(100vh - (61px + 2px) - (83px - 2px));
    padding-bottom: 0px;
    background: url(../img/bg_main.jpg) fixed 50% 0;
}

footer {
    background-color: #63c404;
    border: 3px solid #479000;
}

button,
button > span,
button > img,
.none-select * {
    user-select: none !important;
}

a {
    text-decoration: none;
    color: black;
}

ul, li, p {
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.dropdown-menu > li:first-child {
    margin-top: 0px !important;
}

.dropdown-menu > li:last-child {
    margin-bottom: 0px !important;
}

tr td {
    padding: 1rem !important;
    margin: 1rem !important;
}

.mainPage {
    width: 80%;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    background: url(../img/bg_title_deco-1920left.png) no-repeat left, #63c404 url(../img/bg_title_deco-1920right.png) no-repeat right;
    border: 3px solid #479000;
    padding: 8px 0;
    margin: 0 0;
}


.umacolordropdown-item:hover {
    background-color: #63c404;
    color: white;
}

.umacolorbtn {
    color: white;
}

.umacolordropdown-item,
.umacolordropdown-menu,
.umacolorbtn:hover {
    background-color: white;
    color: #63c404;
}

.umacolordropdown-item:focus-within,
.umacolordropdown-item:focus-within,
.umacolorbtn.focus,
.umacolorbtn:focus,
.umacolorbtn.dropdown-toggle:focus-within,
.umacolorbtn.dropdown-toggle:focus,
.umacolorbtn.active,
.umacolorbtn.active.focus-within,
.umacolorbtn.active:focus-within,
.umacolorbtn:active,
.umacolorbtn:active.focus-within,
.umacolorbtn:active:focus-within {
    background-color: white;
    color: #479000;
}

.navbar__logo {
    font-size: 18px;
    color: violet;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-right: auto;
}

.navbar__menu li {
    float: left;
    transition: all .3s ease
}

.navbar__menu li:hover {
    color: #ffffff;
    transition: all .3s ease
}

.navbar__menu li:hover {
    /*background-color: #88dd33;*/
    border-radius: 4px;
}

.navbar__menu li > a::after {
    content: '';
    width: 0%;
    left: auto;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid #ffffff;
    transition: all .3s ease;
}

.navbar__menu li:hover > a::after {
    content: '';
    width: 100%;
    left: 0px;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid #ffffff;
    transition: all .3s ease;
}

.navbar__menu li a {
    padding: 4px 12px;
    display: block;
    position: relative
}

.navbar__links {
    list-style: none;
    padding-left: 0;
    color: teal;
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
}

.navbar__links li:hover {
    /*background-color: #88dd33;*/
    border-radius: 4px;
}

.navbar__links li a {
    padding: 4px 4px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 18px;
}

.navbar__shortLoginBtn {
    display: none;
    position: absolute;
    right: 18px;
    font-size: 18px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.breakx15 {
    flex-basis: 150%;
    height: 0;
}

.breakx2 {
    flex-basis: 200%;
    height: 0;
}

.charbox {
    width: calc(94.5% / 7);
    border-style: solid;
    border-width: 0.25vw;
}

@media screen and (max-width: 1189px) {

    .mainPage {
        min-width: 1189px;
    }

    .charbox {
        width: calc(94.5% / 6);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 14px !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 1095px) {

    .mainPage {
        min-width: 1095px;
    }

    .charbox {
        width: calc(94.5% / 6);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 12px !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 991px) {

    .mainPage {
        min-width: 991px;
    }

    .charbox {
        width: calc(94.5% / 5);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 12px !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 767px) {

    .mainPage {
        min-width: 767px;
    }

    .charbox {
        width: calc(94.5% / 4);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 12px !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 10px !important;
    }
}


@media screen and (max-width: 733px) {


    .mainPage {
        min-width: 485px;
    }

    .charbox {
        width: calc(94.5% / 3);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 16px !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 582px) {
    .mainPage {
        min-width: 582px !important;
    }
}

@media screen and (max-width: 575px) {
    .mainPage {
        min-width: 575px !important;
    }
}

@media screen and (max-width: 484px) {

    .charbox {
        width: calc(94.5% / 3);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 14px !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 783px) {

    .navbar {
        display: flex;
        justify-content: start;
        align-items: center;
        background: #63c404 url(../img/bg_title_deco-786.png) no-repeat center;
        border: 3px solid #479000;
        padding: 8px 0;
        margin: 0 0;
    }

    .navbar__links {
        display: none;
    }

    .navbar__links.active {
        display: flex;
    }

    .navbar__shortLoginBtn {
        display: block;
    }
}

@media screen and (max-width: 733px) {
    .navbar {
        display: flex;
        justify-content: start;
        align-items: center;
        background: #63c404 url(../img/bg_title_deco-736.png) no-repeat 50%;
        border: 3px solid #479000;
        padding: 8px 0;
        margin: 0 0;
    }

    .mainPage {
        width: 100%;
        min-width: 433px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 9px 0;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__links {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active, .navbar__links.active {
        display: flex;
        margin-top: 8px !important;
    }

    .navbar__shortLoginBtn {
        display: none;
        position: absolute;
    }
}

.svg_colorGreen {
    filter: invert(32%) sepia(94%) saturate(545%) hue-rotate(75deg) brightness(101%) contrast(89%);
}

.svg_colorLightGreen {
    filter: invert(70%) sepia(9%) saturate(3117%) hue-rotate(70deg) brightness(85%) contrast(100%);
}

.svg_colorWhite {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(231deg) brightness(103%) contrast(101%);
}

.twitter-widget-wrap {
    width: 580px;
    height: 600px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border: 3px solid #479000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.twitter-widget-wrap
#twitter-widget-holder {
    overflow-y: scroll;
    width: 540px;
    height: 560px;
    paddin-right: 20px;
}

.twitter-widget-wrap ::-webkit-scrollbar {
    width: 15px;
    background-color: #f4f9f0;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.twitter-widget-wrap ::scrollbar {
    width: 15px;
    background-color: #f4f9f0;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.twitter-widget-wrap ::-webkit-scrollbar-thumb {
    background-color: #63c404;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.twitter-widget-wrap ::scrollbar-thumb {
    background-color: #63c404;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}