html {
    /* IE and Edge
    -ms-overflow-style: none;
    /* Firefox
    scrollbar-width: none; */
}

html::-webkit-scrollbar {
    /* display: none; Chrome, Safari, Opera*/
}

@font-face {
    font-family: 'RodinWanpakuPro-B';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/RodinWanpakuPro-B.otf') format('opentype');
    unicode-range: U+0021-007E, U+2600-26FF, /* 半角数字英語 */ U+FF01-FF20 /* 全角数字 */ U+FF21-FF3A, /* 全角英語小文字 */ U+FF41-FF5A, /* 全角英語小文字 */ U+3041-3096, /* CJK */ U+30A0-30FF, /* CJK */ U+3001-3002, /* CJK */ U+2E80-2EFF, /* CJK */ U+3000-303F, /* CJK */ U+3200-32FF, /* CJK */ U+3300-33FF, /* CJK */ U+4E00-9FCC, /* CJK */ U+F900-FAD9, /* CJK */ U+20000-2FFFF;/*　CJK　*/
}

@font-face {
    font-family: 'gyeonggicheonyeontitleOTF_Medium';
    src: url('../fonts/gyeonggicheonyeontitleOTF_Medium.otf') format('opentype');
    font-style: normal;
    unicode-range: U+0030-0039, /* 半角数字 */ U+AC00-D7A3; /* CJK KOREAN */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

body {
    padding-top: 61px;
    --bs-body-font-family: 'RodinWanpakuPro-B', 'gyeonggicheonyeontitleOTF_Medium', var(--bs-font-sans-serif);
}

#wrapper {
    height: auto;
    min-height: calc(100vh - (61px + 2px) - (83px - 2px));
    padding-bottom: 0px;
    background: url(../img/bg_main.jpg) fixed 50% 0;
}

footer {
    background-color: #63c404;
    border: 3px solid #479000;
}

.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    background: url(../img/bg_title_deco-1920left.png) no-repeat left, #63c404 url(../img/bg_title_deco-1920right.png) no-repeat right;
    border: 3px solid #479000;
    padding: 8px 0;
    margin: 0 0;
}


@media (min-width: 1920px) {
    .mainPage {
        min-width: 1920px;
        max-width: 1920px;
    }

    .charbox {
        width: calc(94.5% / 7);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: .95rem !important;
        white-space: nowrap;
    }

    .charbox > .card-body > .card-text {
        font-size: .95rem !important;
        white-space: nowrap;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {

    .mainPage {
        min-width: 1200px;
        max-width: 1920px;
    }

    .charbox {
        width: calc(94.5% / 7);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: .95rem !important;
        white-space: nowrap;
    }

    .charbox > .card-body > .card-text {
        font-size: .95rem !important;
        white-space: nowrap;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .mainPage {
        min-width: 9920px;
        max-width: 1200px;
    }

    .charbox {
        width: calc(94.5% / 6);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: .9rem !important;
        white-space: nowrap;
    }

    .charbox > .card-body > .card-text {
        font-size: .9rem !important;
        white-space: nowrap;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {

    .mainPage {
        min-width: 767px;
        max-width: 992px;
    }

    .charbox {
        width: calc(94.5% / 5);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: .85rem !important;
        white-space: nowrap;
    }

    .charbox > .card-body > .card-text {
        font-size: .85rem !important;
        white-space: nowrap;
    }
}

@media screen and (max-width: 766px) {

    .mainPage {
        min-width: 766px;
    }

    .skillbox {
        width: 99% !important;
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox {
        width: calc(94.5% / 4);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 12px !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 733px) {

    .mainPage {
        min-width: 485px;
    }

    .charbox {
        width: calc(94.5% / 3);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 16px !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 14px !important;
    }

    .navbar {
        display: flex;
        justify-content: start;
        align-items: center;
        background: #63c404 url(../img/bg_title_deco-736.png) no-repeat 50%;
        border: 3px solid #479000;
        padding: 8px 0;
        margin: 0 0;
    }

    .mainPage {
        width: 100%;
        min-width: 433px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 9px 0;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__links {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active, .navbar__links.active {
        display: flex;
        margin-top: 8px !important;
    }

    .navbar__shortLoginBtn {
        display: none;
        position: absolute;
    }
}

@media screen and (max-width: 582px) {
    .mainPage {
        min-width: 582px !important;
    }
}

@media screen and (max-width: 575px) {
    .mainPage {
        min-width: 575px !important;
    }
}

/* Galaxy Z Fold */
@media screen and (max-width: 512px) {
    .mainPage {
        min-width: 512px !important;
    }
}

/* Galaxy S or IPhone */
@media screen and (max-width: 484px) {

    .mainPage {
        min-width: 360px !important;
    }

    .charbox {
        width: calc(94.5% / 3);
        border-style: solid;
        border-width: 0.25vw;
    }

    .charbox > .side-text,
    .charbox > .card-body > .card-title {
        font-size: 0.7rem !important;
    }

    .charbox > .card-body > .card-text {
        font-size: 0.7rem !important;
    }
}

@media screen and (max-width: 783px) {

    .navbar {
        display: flex;
        justify-content: start;
        align-items: center;
        background: #63c404 url(../img/bg_title_deco-786.png) no-repeat center;
        border: 3px solid #479000;
        padding: 8px 0;
        margin: 0 0;
    }

    .navbar__links {
        display: none;
    }

    .navbar__links.active {
        display: flex;
    }

    .navbar__shortLoginBtn {
        display: block;
    }
}