<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="w-100 h-100" id="load">
        <img src="/img/loading.gif" alt="loading">
    </div>
    <div id='wrapper' class="d-flex justify-content-center align-items-center" ondragstart="return false">
        <div class="mainPage none-select" style="margin:0 auto;">
            <h1 style="text-align: center; padding-top: 1rem; padding-bottom: 1rem; user-select: none !important;"
                th:text="#{menu1}"></h1>
            <div id="umaList" class="container d-flex justify-content-start flex-wrap p-0 ms-auto me-0 mb-5 w-100">
                <tr th:each="umamusume : ${umamusumes}"
                    th:style="'--main-color:' + ${umamusume.main_color} + '; --sub-color:' + ${umamusume.sub_color} + ';'"
                    align="center" valign="middle">
                    <div class="break" th:if="${umamusume.name == 'HappyMeek'}">
                    </div>
                    <a class="card charbox rounded-0 position-relative"
                       th:style="'border-color:' + ${umamusume.sub_color} + '; margin:0.2vw;'"
                       th:href="@{/uma/{uma1}(uma1=${umamusume.name})}">
                        <img class="position-relative p-0 m-0" src="/img/umaimage/transparent_list.png"
                             loading="lazy" decoding="async"
                             alt=""
                             th:style="'width:100%; height:100%; object-fit: cover; background: linear-gradient(90deg, '+ ${umamusume.main_color} + ' 0%, '+ ${umamusume.main_color} + ' 85%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);'">
                        <div class="py-1 position-absolute end-0 side-text"
                             th:style="'writing-mode: vertical-rl; color: ' + ${umamusume.main_color} + '; font-size: .90vw;'">
                            [[${umamusume.eng_name}]]
                        </div>
                        <div class="position-absolute p-0 m-0">
                            <img class="position-relative p-0 m-0"
                                 th:src="@{${umamusume.img + umamusume.name + '_list.png'}}" loading="lazy"
                                 decoding="async"
                                 alt=""
                                 th:style="'width:100%; height:100%; object-fit: cover; background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 85%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);'">
                        </div>
                        <div class="card-body p-1 mt-0" th:style="'backgorund: white !important;'">
                            <p class="card-title pt-0 m-0" style="font-size: .90vw;">[[${umamusume.jpn_name}]]</p>
                            <p class="card-text p-0 m-0" style="font-size: .85vw;">[[${umamusume.kor_name}]]</p>
                        </div>
                        <figcaption th:style="'background-color:'+${umamusume.main_color}+'B3;'">View More</figcaption>
                    </a>
                </tr>
            </div>
        </div>
    </div>
</th:block>
</html>