<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="w-100 h-100" id="load">
        <img src="/img/loading.gif" alt="loading">
    </div>
    <div id='wrapper' class="d-flex justify-content-center align-items-center" ondragstart="return false">
        <div class="mainPage none-select" style="margin:0 auto;">
            <h1 style="text-align: center; padding-top: 1rem; padding-bottom: 1rem; user-select: none !important;"
                th:text="#{menu3}"></h1>
            <div id="umaList" class="container d-flex justify-content-start flex-wrap p-0 ms-auto me-0 mb-5 w-100">
                <tr th:each="supportcard : ${support}"
                    align="center" valign="middle">
                    <a class="card charbox support_hover rounded-5 border-0 none-select position-relative"
                       th:href="@{/support/{supportcard}(supportcard=${supportcard.id})}">
                        <div class="p-0 m-0">
                            <img class="umasupport_img"
                                 th:src="@{${'/img/umaimage/support/support_thumb_' + supportcard.id + '.png'}}"
                                 th:style="'width:100%; aspect-ratio:1/1.3;'">

                        </div>
                        <figcaption th:style="'background-color: #000000B3;'">View More</figcaption>
                    </a>
                </tr>
            </div>
        </div>
    </div>
</th:block>
</html>